{% extends 'userpages.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <!-- {% for info in info %} -->
         <h1 class="h2"> You're Buying ...</h1>
      <!-- {% endfor %} -->
   </div>
 
   <div class="container-fluid">
     <div class="row row-cols-5">
         {% for info in info %}
           <div class="card flex-wrap" style="width: 50rem; border-radius: 10px; padding: 10px; margin: 10px; box-shadow: 5px 5px rgb(153, 153, 153); background-color: rgb(255, 255, 255);">
            <h5 class="card-title" style="text-align: center;">{{ info.coin_name }} at ${{ price }} per coin.</h5>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}
                  <div><p style="color: red;"> {{ msg }} </p></div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form class="register-form" style="background-color: rgb(255, 255, 255); border-radius: 5px; padding: 20px;" method="POST">
               {{ form.hidden_tag() }}
               <div class="mb-3">
                  {{ wtf.form_field(form.dollar_amnt) }}
                </div>
                <button type="submit" class="btn btn-primary">Buy!</button>
            </form>
           </div>
         {% endfor %}
     </div>
   </div>
 </main>


{% endblock %}