{% extends 'userpages.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Welcome, {{ name }}</h1>
    <h1 class="h4">Buying Power: ${{ buying_power|to_float }}</h1>
    <h1 class="h4">Current Investment: ${{ current_investment }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0"></div>
  </div>


  
  <h2>Wallet: </h2>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="row row-cols-5">
    {% for coin in wallet_info %}
      {% for item in user_wallet %}
        {% if coin.id == item.coin_id %}
        <div class="card flex-wrap" style="width: 18rem; border-radius: 10px; padding: 10px; margin: 10px; box-shadow: 5px 5px rgb(153, 153, 153); background-color: rgb(74, 136, 136);">
          <h5 class="card-title" style="text-align: center;">{{ coin.coin_symbol }}</h5>
          <p class="card-text" style="text-align: center;">Price: ${{ coin.coin_price|to_float }}</p>
          <p class="card-text" style="text-align: center;">Coins Owned: {{ item.quantity }}</p>
          <p class="card-text" style="text-align: center;">Amount: ${{ item.quantity * coin.coin_price|to_float }}</p>
          <p style="text-align: center;"><a style="background-color: rgb(105, 105, 105); width: 14rem;" class="btn btn-primary" href="/buypage/coin_id/{{ coin.id }}">Buy</a></p>
          <p style="text-align: center;"><a style="background-color: rgb(105, 105, 105); width: 14rem;" class="btn btn-primary" href="/sellpage/coin_id/{{ coin.id }}">Sell</a></p>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

</div>



<h2>Watchlist: </h2>
<div class="table-responsive">
   <table class="table table-striped table-sm">
       <thead>
         <tr>
           <th scope="col">Symbol</th>
           <th scope="col">Price</th>
           <th scope="col">1hr %</th>
           <th scope="col">24hr %</th>
           <th scope="col">24hr Volume</th>
         </tr>
       </thead>
       <tbody>
        {% for info in watching %}
         <tr>
            <td>{{ info.coin_symbol }}</td>
            <td>${{ info.coin_price|to_float }}</td>
            <td>{{ info.percent_change_1h|to_float }}</td>
            <td>{{ info.percent_change_24h|to_float }}</td>
            <td>{{ info.volume_change_24h|to_float }}</td>
            <td><p style="text-align: center;"><a style="background-color: rgb(105, 105, 105); width: 14rem;" class="btn btn-primary btn-sm" href="/buypage/coin_id/{{ info.id }}">Buy</a></p></td>
            <td><p style="text-align: center;"><a style="background-color: rgb(105, 105, 105); width: 14rem;" class="btn btn-primary btn-sm" href="/sellpage/coin_id/{{ info.id }}">Sell</a></p></td>
         </tr>
         {% endfor %}
       </tbody>
      </table>
    </div>
   </main>
  </div>
</div>
{% endblock %}