{% extends 'layout.html' %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3" id="firstdiv">
   <div class="container-fluid py-5">
     <h1 class="display-5 fw-bold">Chocolate Coins</h1>
     <p class="col-md-8 fs-4">
        Is a paper trading web app you can use to trade crypto currencies. You will be using fake money and fake crypto, or as we like to call it, chocolate coins. Like the candy!
     </p>
     <a href="/register" class="btn btn-outline-primary me-2" type="button">Sign-Up Now!</a>
   </div>
</div>
 <style>
   #firstdiv {
     box-shadow: 5px 5px rgba(0, 0, 0, 0.308);
   }
 </style>
{% endblock %}