{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container-sm">
   <form class="register-form" style="background-color: rgb(255, 255, 255); border-radius: 5px; padding: 20px;" method="post" action="/register">
      {{ form.hidden_tag() }}
      <div class="mb-3">
         {{ wtf.form_field(form.username) }}
      </div>
      <div class="mb-3">
         {{ wtf.form_field(form.email) }}
      </div>
      <div class="mb-3">
         {{ wtf.form_field(form.password) }}
      </div>
      <div class="mb-3">
         {{ wtf.form_field(form.starting_dollars) }}
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
   </form>
</div>

{% endblock %}