{% extends 'userpages.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Watchlist</h1>
  </div>

  <div class="container-sm">
    <form class="register-form" style="background-color: rgb(255, 255, 255); border-radius: 5px; padding: 20px;" method="post" action="/watchlist">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ wtf.form_field(form.coin_name) }}
      </div>
      <button type="submit" class="btn btn-primary">Add to Watchlist</button>
    </form>
  </div>

  <div class="container-fluid">
    <div class="row row-cols-5">
      {% for info in watching %}
      <div class="card flex-wrap" style="width: 18rem; border-radius: 10px; padding: 10px; margin: 10px; box-shadow: 5px 5px rgb(153, 153, 153); background-color: rgb(74, 136, 136);">
        <p><a style="background-color: rgb(105, 105, 105);" class="btn btn-primary" href="/delete/{{ info.id }}">Delete</a></p>
        <h5 class="card-title" style="text-align: center;">{{ info.coin_symbol }}</h5>
        <p class="card-subtitle mb-2" style="text-align: center; color: rgb(255, 255, 255);">{{ info.coin_name }}</p>
        <p class="card-text" style="text-align: center;">Price: ${{ info.coin_price }}</p>
        <p class="card-text" style="text-align: center;">1hr %: {{info.percent_change_1h}}</p>
        <p class="card-text" style="text-align: center;">24hr %: {{info.percent_change_24h}}</p>
        <p class="card-text" style="text-align: center;">24hr Volume: {{ info.volume_change_24h }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

</main>
{% endblock %}