{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container-sm">
   <form class="login-form" style="background-color: rgb(255, 255, 255); border-radius: 5px; padding: 20px;" method="POST" action="/login">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for msg in messages %}
               <div><p style="color: red;"> {{ msg }} </p></div>
            {% endfor %}
         {% endif %}
      {% endwith %}
      {{ form.hidden_tag() }}
      <div class="mb-3">
      {{ wtf.form_field(form.username) }}
      </div>
      <div class="mb-3">
      {{ wtf.form_field(form.password) }}
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
   </form>
</div>

{% endblock %}